aiofiles
aiohappyeyeballs
aiohttp
aiosignal
anyio
attrs
beautifulsoup4
brotli
bs4
certifi
charset-normalizer
colorama
etcpak
frozenlist
h11
httpcore
httpx
idna
lz4
mega.py
multidict
pillow
propcache
pycryptodome
pystyle
python-telegram-bot
pyzstd
requests
six
sm4
soupsieve
tabulate
tenacity
texture2ddecoder
typing_extensions
Unidecode
urllib3
yarl
